<?xml version="1.0"?>
<launch>
    <arg name="device" default="/dev/video0" />
    <node pkg="nodelet" type="nodelet" name="camera_process" args="manager" output="screen" />
    
    <node pkg="nodelet" type="nodelet" name="uvc_camera" args="load uvc_camera/CameraNodelet /camera_process" output="screen" >
        <param name="device" value="$(arg device)" />
        <!--
        <param name="width" type="int" value="320"/>
        <param name="height" type="int" value="240"/>
        <param name="frame" type="int" value="10"/>
        -->
    </node>
</launch>
