<?xml version="1.0"?>
<launch>
    <arg name="device" default="/dev/video0" />

    <node name="uvc_camera_node" pkg="uvc_camera" type="uvc_camera_node" >
        <param name="device" value="$(arg device)" />
        <!--
        <param name="width" type="int" value="320"/>
        <param name="height" type="int" value="240"/>
        <param name="frame" type="int" value="10"/>
        -->
    </node>

</launch>
