<?xml version="1.0"?>

<model>
  <name>RoboCup2019_Field</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Joshua Supratman</name>
    <email>supratmanjoshua@gmail.com</email>
  </author>

  <description>
    A RoboCup Humanoid KidSize Soccer Field.
  </description>
</model>
