<?xml version="1.0"?>
<launch>

    <!-- Load URDF model -->
    <arg name="model" default="$(find opr_description)/robots/gankenkun_v3.xacro" />
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

    <!-- Load Kondo B3M parameters -->
    <rosparam file="$(find opr_kondo_driver)/config/gankenkun_v3_driver.yaml" command="load" ns="opr_kondo_driver"/>

    <!-- Kondo driver -->
    <node name="opr_kondo_driver" pkg="opr_kondo_driver" type="kondo_driver" output="screen" args="
        head_yaw_driver
        left_shoulder_pitch_driver
        left_shoulder_roll_driver
        left_elbow_pitch_driver
        left_waist_yaw_driver
        left_waist_roll_driver
        left_waist_pitch_driver
        left_knee_pitch_driver
        left_ankle_pitch_driver
        left_ankle_roll_driver
        right_shoulder_pitch_driver
        right_shoulder_roll_driver
        right_elbow_pitch_driver
        right_waist_yaw_driver
        right_waist_roll_driver
        right_waist_pitch_driver
        right_knee_pitch_driver
        right_ankle_pitch_driver
        right_ankle_roll_driver
        "/>

    <!-- robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

</launch>
